---
import About from "../components/About";
import Banner from "../components/Banner";
import Contact from "../components/Contact.astro";
import FooterLinks from "../components/FooterLinks.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Services from "../components/Services.astro";
import Works from "../components/Works";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Otonom Studio">
  <main>
    <Navbar />
    <Hero />
    <Banner client:load />
    <Works client:load />
    <About client:load />
    <Services />
    <Contact />
    <FooterLinks />
  </main>
</Layout>
