---

---

<section class="bg-darkbackground px-[12.5vw] py-10">
    <div class="flex justify-between items-stretch pb-20">
        <div>
            logo
        </div>
        <ul>
            <h4 class="text-white font-meduim text-xl">Sitemap</h4>
                <li class="text-gray text-base pt-4">Projects</li>
                <li class="text-gray text-base pt-4">About Us</li>
                <li class="text-gray text-base pt-4">Services</li>
                <li class="text-gray text-base pt-4">Contact Us</li>
        </ul>
        <div>
            <h4 class="text-white font-meduim text-xl pb-4">Socials</h4>
            <ul class="text-base grid grid-cols-2 grid-rows-4 gap-x-28 gap-y-4">
                <li> <a class="text-gray"> Facebook </a> </li>
                <li> <a class="text-gray"> Instagram </a> </li>
                <li> <a class="text-gray"> Behance </a> </li>
                <li> <a class="text-gray"> Dribbble </a> </li>
                <li> <a class="text-gray"> LinkedIn </a> </li>
                <li> <a class="text-gray"> Twitter </a> </li>
                <li> <a class="text-gray"> Youtube </a> </li>
                <li> <a class="text-gray"> Github </a> </li>
            </ul>
        </div>
    </div>
    <div class="flex justify-between items-center text-white text-sm font-normal">
        <span class="flex justify-start items-center gap-16">
            <a class="cursor-pointer">Terms & Services</a>
            <a class="cursor-pointer">Cookies Policy</a>
        </span>
        <p>Otonom Studio © 2023 </p>
    </div>
</section>