---
import LinksAnimation from "./LinksAnimation.astro";
import { Icon } from 'astro-icon'

type socialLink = {
  name: string;
  url: string;
};
const RoadMaps : socialLink[] = [
{
    name: "Projects",
    url: "",
  },
  {
    name: "About Us",
    url: "",
  },
  {
    name: "Services",
    url: "",
  },
  {
    name: "Contact Us",
    url: "",
  },

]
const socialLinks: socialLink[] = [
  {
    name: "Instagram",
    url: "",
  },
  {
    name: "Behance",
    url: "",
  },
  {
    name: "Linkedin",
    url: "",
  },
  {
    name: "Medium",
    url: "",
  },
  {
    name: "Youtube",
    url: "",
  },
  {
    name: "Dribbble",
    url: "",
  },
  {
    name: "Twitter",
    url: "",
  },
  {
    name: "Github",
    url: "",
  },
];
---

<section class="bg-darkbackground px-[12.5vw] py-10">
  <div class="flex justify-between items-stretch pb-20">
    <div class="flex flex-col justify-stat items-center gap-3">
        <Icon name="Logo" class="w-[4vw]"/>
        <h3 class="font-meduim text-white text-xl"> Otonom </h3>
    </div>
    <ul class="flex flex-col gap-4 justify-start items-start">
      <h4 class="text-white font-meduim text-xl">Sitemap</h4>
      {
        RoadMaps.map((RoadMap) => {
          const { name, url } = RoadMap;
          return (
            <li>
              <a href={url}>
                <LinksAnimation name={name} />
              </a>
            </li>
          );
        })
      }
    </ul>
    <div>
      <h4 class="text-white font-meduim text-xl pb-4">Socials</h4>
      <ul class="text-base grid grid-cols-2 grid-rows-4 gap-x-28 gap-y-4">
        {
          socialLinks.map((socialLink) => {
            const { name, url } = socialLink;
            return (
              <li>
                <a href={url}>
                  <LinksAnimation name={name} />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <div class="flex justify-between items-center text-white text-sm font-normal">
    <span class="flex justify-start items-center gap-16">
      <a class="cursor-pointer"> <LinksAnimation name="Terms & Services" /></a>
      <a class="cursor-pointer"> <LinksAnimation name="Cookies Policy" /></a>
    </span>
    <p>Otonom Studio <span class="gradienText">©</span> 2023</p>
  </div>
</section>
