---
import LinksAnimation from "./LinksAnimation.astro";
import { Icon } from "astro-icon";

type socialLink = {
  name: string;
  url: string;
};
const RoadMaps: socialLink[] = [
  {
    name: "Projects",
    url: "",
  },
  {
    name: "About Us",
    url: "",
  },
  {
    name: "Services",
    url: "",
  },
  {
    name: "Contact Us",
    url: "",
  },
];
const socialLinks: socialLink[] = [
  {
    name: "Instagram",
    url: "",
  },
  {
    name: "Behance",
    url: "",
  },
  {
    name: "Linkedin",
    url: "",
  },
  {
    name: "Medium",
    url: "",
  },
  {
    name: "Youtube",
    url: "",
  },
  {
    name: "Dribbble",
    url: "",
  },
  {
    name: "Twitter",
    url: "",
  },
  {
    name: "Github",
    url: "",
  },
];
---

<section class="bg-darkbackground w-[100%] px-[5vw] md:px-[12.5vw] py-10">
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-12 md:gap-0 pb-20"
  >
    <div class="flex flex-col justify-stat items-center gap-3">
      <Icon name="Logo" class="w-[20vw] lg:w-[4vw]" />
      <h3 class="font-meduim text-white text-xl">Otonom</h3>
    </div>
    <ul class="flex flex-col gap-4 justify-start items-start">
      <h4 class="text-white font-meduim text-xl">Sitemap</h4>
      {
        RoadMaps.map((RoadMap) => {
          const { name, url } = RoadMap;
          return (
            <li>
              <a href={url}>
                <LinksAnimation name={name} />
              </a>
            </li>
          );
        })
      }
    </ul>
    <div>
      <h4 class="text-white font-meduim text-xl pb-4">Socials</h4>
      <ul
        class="text-base grid grid-cols-2 grid-rows-4 gap-x-12 md:gap-x-28 gap-y-4"
      >
        {
          socialLinks.map((socialLink) => {
            const { name, url } = socialLink;
            return (
              <li>
                <a href={url}>
                  <LinksAnimation name={name} />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-2 md:gap-0 text-white text-sm font-normal"
  >
    <span
      class="w-full flex justify-between md:justify-start items-center md:gap-16"
    >
      <div>
        <a class="cursor-pointer whitespace-nowrap">
          <LinksAnimation name="Terms & Services" /></a
        >
      </div>
      <div>
        <a class="cursor-pointer whitespace-nowrap">
          <LinksAnimation name="Cookies Policy" /></a
        >
      </div>
    </span>
    <p class="whitespace-nowrap">
      Otonom Studio <span class="gradienText">©</span> 2023
    </p>
  </div>
</section>
