---

---

<section
  class="h-[35vh] md:h-[65vh] px-4 w-full md:px-0 md:pl-[12.5vw] mt-[15vh] relative overflow-x-hidden"
>
  <p class="text-[0.825rem] md:text-base gradienText font-bold relative w-fit">
    We Build Websites, Brands & Products.
    <span
      class="absolute top-0 right-0 w-full h-full bg-white animate-[fadeLeft_1s_ease_forwards] pointer-events-none"
    ></span>
  </p>
  <h1
    class="text-[2.4rem] md:text-hero text-gray font-EudoxusVariable font-bold leading-[115%]"
  >
    <span class="overflow-hidden block container">
      <span class="block animate-[fadeUp_800ms_ease_forwards] translate-y-full"
        >Crafting Unique
      </span>
    </span>
    <span class="overflow-hidden block container">
      <span class="block animate-[fadeUp_800ms_ease_forwards] translate-y-full"
        >And Immersive
      </span>
    </span>
    <span class="overflow-hidden block container">
      <span
        class="gradienText block animate-[fadeUp_800ms_ease_forwards] translate-y-full"
        >Web Experiences</span
      ></span
    >
  </h1>
  <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 pb-4">
    <div
      class="text-[0.6rem] md:text-xs font-medium tracking-[0.02rem] motion-safe:animate-bounce uppercase text-gray"
    >
      Scroll For More
    </div>
  </div>
</section>

<style>
  .container:nth-child(2) span {
    animation-delay: 400ms;
  }
  .container:nth-child(3) span {
    animation-delay: 600ms;
  }
</style>
