---
 const {name} = Astro.props
 
---
<a href="/" >
  <div  class="text-gray text-base container font-meduim uppercase relative cursor-pointer overflow-hidden ">
      <div class="base">
        {name.split("").map((letter, i) => (
          <span style={"--index:"+i}>{letter}</span>
        ))}
      </div>
      <div class="hover absolute top-0 left-0 whitespace-nowrap ">
        {name.split("").map((letter, i) => (
          <span style={"--index:"+i}>{letter}</span>
        ))}
      </div>
  </div>
</a>


  
  <style>
    .container>.base:nth-child(1) span {
      will-change: transform;
      transform-style: preserve-3d;
      transition: 0.4s ease;
      transition-delay: calc(0.04s * var(--index));
      transform-origin: bottom;
      display: inline-block;
    }
    
    .container:hover>.base:nth-child(1) span {
      transform: translateY(-100%) rotateX(-90deg);
    }
    
    .container>.hover:nth-child(2) span {
      will-change: transform;
      transform-style: preserve-3d;
      transition: 0.4s ease;
      transition-delay: calc(0.04s * var(--index));
      transform-origin: top;
      display: inline-block;
      transform: translateY(100%) rotateX(-90deg);
    }
    
    .container:hover>.hover:nth-child(2) span {
      transform: translate(0) rotate(0)
    }
  </style>