---

---

<section class="px-[12.5vw] py-16">
    <div class="w-[18vw] mx-auto text-black pb-16">
        <h2 class="text-3xl font-bold text-center pb-2 leading-[123%] ">
            What we provide
        </h2>
        <p class="text-base text-meduim opacity-50 text-center leading-[178%]">
            How we can make your business evolve.
        </p>
    </div>
    <div class="flex justify-between items-center gap-4">
        <div class="w-[33%] h-[582px] grow hover:w-[100%] bg-[blue] ease duration-500 cursor-pointer"></div>
        <div class="w-[33%] h-[582px] grow hover:w-[100%] bg-[orange] ease duration-500 cursor-pointer"></div>
        <div class="w-[33%] h-[582px] grow hover:w-[100%] bg-[green] ease duration-500 cursor-pointer"></div>
    </div>
</section>