---
import Swe from "../assets/Swe.png";
import Bm from "../assets/Bm.png";
import Ss from "../assets/Ss.png";
import Services from "./Services";

const ServicesInfo = [
  {
    firstPart: "Seamless Web  ",
    secondPart: "Experiences",
    description:
      "Otonom is dedicated to designing exceptional web experiences with intuitive design, mobile-responsiveness, and exceptional service to help clients succeed online.",
    image: Swe,
  },
  {
    firstPart: "Branding ",
    secondPart: "Mastery",
    description:
      "Otonom is dedicated to designing exceptional web experiences with intuitive design, mobile-responsiveness, and exceptional service to help clients succeed online.",
    image: Bm,
  },
  {
    firstPart: "SEO ",
    secondPart: "Supercharge",
    description:
      "Otonom is dedicated to designing exceptional web experiences with intuitive design, mobile-responsiveness, and exceptional service to help clients succeed online.",
    image: Ss,
  },
];
---

<section class="w-full px-4 mx-auto md:px-[5vw] lg:px-[12.5vw] py-16">
  <div class="w-[75vw] lg:w-[18vw] pb-16 text-blue text-center mx-auto">
    <h2
      class="text-xl lg:text-3xl font-bold lg:text-center pb-2 leading-[123%]"
    >
      What we provide
    </h2>
    <p class="text-base text-medium opacity-50 lg:text-center leading-[178%]">
      How we can make your business evolve.
    </p>
  </div>
  <Services services={ServicesInfo} client:only />
</section>
